
.grey-background {
    background: #60C2CB;
}

.header {
    background: #60C2CB;
    padding: 15px 25px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
}

.button-card-background {
    background: #ffffff;
    text-align: center;
    margin: auto;
}

.custom-size {
    width: 200px;
}

.program-select-buttons {
    color: #000;

    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #3A4A4B;
    margin: 20px;
    position: relative;
    letter-spacing: 1px;
    background: #ffffff;
}

.program-select-buttons:hover {
    background: #60C2CB;
    color: #ffffff;
}