.form-bg{
    background: #e4e6e6;
}

form{
    font-family: 'Roboto', sans-serif;
}

.form-horizontal .header{
    background: #60C2CB;
    padding: 15px 25px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px 3px 0 0;
}

.form-horizontal .heading{
    font-size: 16px;
    color: #60C2CB;
    margin: 10px 0 20px 0;
    text-transform: capitalize;
}

.form-horizontal .form-content{
    padding: 25px;
    background: #fff;
}

.form-horizontal .form-control{
    padding: 12px 16px 12px 0;
    height: 50px;
    font-size: 17px;
    font-weight: 300;
    color: #2b2a2a;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
}

.form-horizontal .form-control:focus{
    border-color: #7fc6a6;
    box-shadow: none;
}

.form-horizontal .btn{
    font-size: 18px;
    color: #4e4e4e;
    float: right;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 0;
    padding: 10px 25px;
    transition: all 0.5s ease 0s;
}

.right-align {
    text-align: right;

}

.full-width {
    width: 100%;
}

.blue-line-color {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #3EA6A2;
}

#add-new-medical-concern-button {
    width: 55%;
    height: 7%;
    color: #007bff;
    background-color: transparent;
    border-color: #007bff;
}

#add-new-medical-concern-button:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.add-student-contact-button {
    width: 55%;
    height: 7%;
    color: #007bff;
    background-color: transparent;
    border-color: #007bff;
}

.add-student-contact-button:hover {

    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

}

.add-student-contact-button:focus, .add-student-contact-button.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.add-student-contact-button.disabled, .add-student-contact-button:disabled {
    color: #007bff;
    background-color: transparent;
}

.add-student-contact-button:not(:disabled):not(.disabled):active,
.add-student-contact-button:not(:disabled):not(.disabled).active,
.show > .add-student-contact-button.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.add-student-contact-button:not(:disabled):not(.disabled):active:focus,
.add-student-contact-button:not(:disabled):not(.disabled).active:focus,
.show > .add-student-contact-button.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
