
.responsive-text {

}

.large-action-buttons {
    display: inline-block;
    width: 30%;
    margin: 7px auto;
    color: #fff;

}

.small-action-buttons {
    display: inline-block;

    margin: auto;
    color: #fff;
}

.edit-student-button {
    background-color: #3CA8F7;
    color: #fff;
    /*width: 100%;*/
}

.delete-student-button {
    background-color: #F2453D;
    /*width: 100%;*/
    color: #fff;
}

.student-contact-button {
    background-color: #6640B4;
}

.view-allergies-button {
    background-color: #4055B2;

}

.test-scores-button {
    /*background-color: #02D1FF;*/
    background-color: #1FBCD3;

}

.left-action-buttons-container {
    display: inline-block;
    width: 58%;
    margin: auto;
    vertical-align: top;
}

.right-action-buttons-container {
    display: inline-block;
    width: 40%;
    margin: auto;
    vertical-align: top;
    text-align: center;
}

.side-by-side {
    display: inline-block;
    width: 48%;
    margin: auto;
}


.green-check {
    color: green;
}

.red-circle {
    color: #d50000;
}
