.responsive-text {

}

.large-action-buttons {
    display: inline-block;
    height: 34px;
    width: 30%;
    margin: 3px auto;
    color: #fff;
}

.small-action-buttons {
    display: inline-block;
    height: 34px;
    margin: auto;
    color: #fff;
}

.edit-button {
    /*background-color: #3CA8F7;*/
    background-color: #1EAAF1;
}

.edit-button:hover {
    background-color: #1689CF;
}

.delete-button {
    background-color: #F2453D;
}

.delete-button:hover {
    background-color: #D13135;
}

.contact-button {
    background-color: #6640B4;
}

.contact-button:hover {
    background-color: #5133A5;
}


.allergies-button {
    background-color: #4055B2;
}
.allergies-button:hover {
    background-color: #32429C;
}

.test-scores-button {
    background-color: #1FBCD3;
}

.test-scores-button:hover {
    background-color: #1697A6;
}

.permission-slip-button {
    height: 34px;
    margin: auto;
    background-color: transparent;
    border-color: #2EA6A2;
}

.left-action-buttons-container {
    display: inline-block;
    width: 58%;
    margin: auto;
    vertical-align: top;
}

.right-action-buttons-container {
    display: inline-block;
    width: 40%;
    margin: auto;
    vertical-align: top;
    text-align: center;
}

.permission-slip-button:hover {
    color: #fff;
    background-color: #2EA6A2;
}

.side-by-side {
    display: inline-block;
    width: 48%;
    margin: auto;
}

.green-check {
    color: #2EA6A2;
}
.permission-slip-button:hover .green-check {
    color: #fff;
}

.red-circle {
    color: #d50000;
}
