*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hidden-row-width {
    width: 40%;
}

.smooth {
    transition: 3s;
}

.number-row {
    width: 100%;
}