img {
    display: block;
    margin: 0 auto;
	max-width: 100%;
	height: auto;
}

h2 {
    margin: 0px;
	text-align: center;
	font-family: 'Arial';
	font-size: 18;
	color: black;
    font-weight: normal;
}

h4 {
    margin: 0px;
	text-align: center;
	font-family: 'Arial';
	font-size: 12;
	color: black;
    font-weight: normal;
    
}

#form2 {
    margin:0px;
	text-align: center;
	font-family: 'Arial';
	font-size: 12;
	color: black;
    font-weight: normal;
}

body {
    Background-color: white;
}